body{
    margin:0;
    font-family: Arial;
    background:pink;
    text-align:center;
}

.navbar{
    background:black;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

.heart{
    color:red;
    font-size:80px;
}
